$alata: 'Alata', sans-serif;
$glego: 'Glegoo', serif;
$greenh:#8BF288;
$light: #F6F6F6;
$green:#789F07;
$dark: #333333;
$gray: #6F6F6F;

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.p-black{
  color: #000;
}

a{
  text-decoration: none;
  color: #FFF;
}

.p-green{
  color: $green;
}

.p-dark{
  color: $dark;
}

.p-light{
  color: $light;
}

.p-gray{
  color: $gray;
}

.alata{
  font-family: $alata;
}

.glego{
  font-family: $glego;
}

.fa-chevron-down{
  font-size: 2em;
  padding-bottom: 50px;
  cursor: pointer;
}

header{
  .arrow-down{
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

main{
  .arrow-down{
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.p-red{
  font-size: 0.9rem;
}

.p-0{
  padding: 0 !important;
}

.p-title{
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.p-subtitle{
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.line-container{
  display: flex;
  flex-direction: column;

  .p-title{
    align-self: center;
  }

  .p-line{
    padding: 10px 0;
    height: 100%;
    display: flex;
    justify-content: center;

    .p-vline{
      width: 0.8px;
      height: 100%;
      background-color: $green;
    }
  }
  .p-section{
    writing-mode: vertical-lr;
    align-self: center;
  }
}

.title{
  font-family: $alata;
  margin-bottom: 4px;
}

@import "./style-components/header";
@import "./style-components/main";
@import "./style-components/footer";

@import "./style-components/media-query-400";
@import "./style-components/media-query-1000";
