$alata: 'Alata', sans-serif;
$glego: 'Glegoo', serif;
$greenh:#8BF288;
$light: #F6F6F6;
$green:#789F07;
$dark: #333333;
$gray: #6F6F6F;

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.fa-chevron-down{
  font-size: 2em;
  padding-bottom: 50px;
  cursor: pointer;
}

.p-black{
  color: #000;
}

a{
  text-decoration: none;
  color: #FFF;
}

.p-main-aboutme{
  background-color: $dark;
}

.p-green{
  color: $green;
}

.p-dark{
  color: $dark;
}

.p-light{
  color: $light;
}

.p-gray{
  color: $gray;
}

.alata{
  font-family: $alata;
}

.glego{
  font-family: $glego;
}

.p-section{
  writing-mode: vertical-lr;
}

.p-red{
  font-size: 1.3rem;
}
.p-text{

  p{
    line-height: 2rem;
  }
}

.p-title{
  font-size: 3.2rem;
  line-height: 3.2rem;
}

.p-subtitle{
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.p-line{
  padding: 10px 0;
  height: 100%;
  .p-vline{
    width: 0.8px;
    height: 100%;
    background-color: $green;
  }
}

.header{
  background-color: $light;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .menu-nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 80%;
  
    .menu-list{
      width: 40%;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      li{
        list-style: none;
      }
    }
  }

  .presentation{
    width: 80%;
    color:#FFF;
    display: flex;

    .p-presentation{
      font-size: 1rem;
      line-height: 1.2rem;
    }
  
    span.p-red{
      font-size: 1rem;
      margin: 0 3px;
    }
       
    div{

      .fab{
        font-size: 2.7em;
      }
    }
  }
}

.title{
    font-family: $alata;
    margin-bottom: 4px;
}

.line{
    width: 20px;
    background-color: #000;
    height: 0.5px;
    margin-bottom: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-me{
        width: 60%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
                
        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            
            .about-me-text{
                font-family: $glego;
                font-size: 0.9em;
                margin-bottom: 1.1em;
            }
        }

        .abilities{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

            .abilities-category{
                width: 50%;
                text-align: center;
                height: 200px;

                .abilities-title{
                    font-family: $alata;
                }
            }
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fbfbff;
        width: 100%;
        padding-bottom: 30px;

        .title{
            margin-top: 50px;
        }

        .container{
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .project{
                display: flex;
                width: 100%;
                border: 1px solid gray;
                background-color: #FFF;
                margin: 15px 0;
                padding: 10px;

                .p-img{
                    width: 45%;
                }

                .project-content{
                    width: 55%;
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .p-title{
                        margin-top: 10px;
                        font-family: $alata;
                    }
    
                    .p-text{
                        font-size: 0.75em;
                        margin-top: 5px;
                        font-family: $glego;
                        text-align: justify;
                    }

                    .tech{
                        font-weight: bold;
                        font-size: 0.8em;
                        .text-g{
                            font-weight: normal;
                            color: rgb(73, 73, 73);
                        }
                    }
    
                    .btn-container{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        .btn{
                            width: 30%;
                            height: 30px;
                            margin: 20px;
                            background-color: $green;
                            border: 2px solid $green;
                            border-radius: 5px;
                            color: #000;
                            font-weight: bold;
                            text-align: center;
                            line-height: 30px;
                            font-family: $alata;
                            font-size: 0.9em;

                            &:hover{
                                background-color: $greenh;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer{
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    padding-bottom: 30px;

    .icons{
        font-size: 2.3em;
        margin: 0 20px;
    }

    .contact{
        color: $light;
        margin-top: 30px;
        font-size: 1.8em;
    }
    
    .l-footer{
        background-color: $light;
        margin-bottom: 30px;
    }
}
