* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.fa-chevron-down {
  color: #FFF;
  font-size: 2em;
  padding-bottom: 50px;
  cursor: pointer;
}

.black {
  color: #000;
}

a {
  text-decoration: none;
  color: #FFF;
}

.header {
  background-image: url("./assets/header-bg.jpg");
  background-position: top;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu-nav {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 80%;
}

.header .menu-nav .menu-list {
  font-family: "Glegoo", serif;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.header .menu-nav .menu-list li {
  color: #FFF;
  list-style: none;
}

.header .presentation {
  width: 80%;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .presentation p {
  font-family: "Alata", sans-serif;
}

.header .presentation .p-hellow {
  font-size: 2.5em;
}

.header .presentation .p-name {
  font-size: 3.5em;
}

.header .presentation .p-profession {
  font-family: "Glegoo", serif;
  font-size: 1.5em;
}

.header .presentation div {
  margin-top: 45px;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .presentation div .fab {
  font-size: 2.7em;
}

.title {
  font-family: "Alata", sans-serif;
  margin-bottom: 4px;
}

.line {
  width: 20px;
  background-color: #000;
  height: 0.5px;
  margin-bottom: 30px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about-me {
  width: 60%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about-me .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

main .about-me .description .about-me-text {
  font-family: "Glegoo", serif;
  font-size: 0.9em;
  margin-bottom: 1.1em;
}

main .about-me .abilities {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

main .about-me .abilities .abilities-category {
  width: 50%;
  text-align: center;
  height: 200px;
}

main .about-me .abilities .abilities-category .abilities-title {
  font-family: "Alata", sans-serif;
}

main .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbfbff;
  width: 100%;
  padding-bottom: 30px;
}

main .projects .title {
  margin-top: 50px;
}

main .projects .container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .projects .container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid gray;
  background-color: #FFF;
  margin: 15px 0;
  padding: 10px;
}

main .projects .container .project .p-img {
  width: 45%;
}

main .projects .container .project .project-content {
  width: 55%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .projects .container .project .project-content .p-title {
  margin-top: 10px;
  font-family: "Alata", sans-serif;
}

main .projects .container .project .project-content .p-text {
  font-size: 0.75em;
  margin-top: 5px;
  font-family: "Glegoo", serif;
  text-align: justify;
}

main .projects .container .project .project-content .tech {
  font-weight: bold;
  font-size: 0.8em;
}

main .projects .container .project .project-content .tech .text-g {
  font-weight: normal;
  color: #494949;
}

main .projects .container .project .project-content .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .projects .container .project .project-content .btn-container .btn {
  width: 30%;
  height: 30px;
  margin: 20px;
  background-color: #BFF2BD;
  border: 2px solid #BFF2BD;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  font-family: "Alata", sans-serif;
  font-size: 0.9em;
}

main .projects .container .project .project-content .btn-container .btn:hover {
  background-color: #8BF288;
}

.footer {
  background-color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  padding-bottom: 30px;
}

.footer .icons {
  font-size: 2.3em;
  margin: 0 20px;
}

.footer .contact {
  color: #edf2ef;
  margin-top: 30px;
  font-size: 1.8em;
}

.footer .l-footer {
  background-color: #edf2ef;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */